body {
       background-color: #f5f5f5 !important;
}

hr {
       margin: 10px 0 !important;
}

.card {
       background-color: #fff;
       border-radius: 20px !important;
       border: none !important;
       width: 100%;
}

.card-header {
       background-color: unset !important;
}

.txt-light {
       color: #6c7273;
}

@media  (max-width: 1200px) {
       .card-title, .card-body span {
              font-size: 14px !important;
       }
}


@media (max-width: 400px) {
       .card {
              width: 200px !important;
       }
}

@media (max-width: 575px) {
       .card {
              width: 250px !important;
       }
}


#post img {
       min-width: 50px !important;
}

#post .card {
       max-width: 450px !important;
}

.alert {
       max-width: 300px;
}
.hidden-left {
       opacity: 0;
       transform: translateX(-40px);
       transition: all 0.6s ease-out;
}

.hidden-right {
       opacity: 0;
       transform: translateX(40px);
       transition: all 0.6s ease-out;
}
.post {
       opacity: 0;
       transform: translateY(-20px);
       transition: all 0.6s ease-out;

}
.visible {
       opacity: 1;
       transform: translateX(0);
   }

.visible-post {
       opacity: 1;
       transform: translateY(0);
}